/*****
 * GLOBAL STYLE
 */
 $primary: #D11A26;
 @import "~bootstrap/scss/bootstrap";
 @import "src/app/styles/_colors.scss";


 
body {
    background-color: $primary-background;
    
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.navbar-brand img  {
    height: 50px;
    
}

body > main {
    overflow: auto;
}

/* global style */
.bg-primary * {
    color:  $primary-txt;
    background-color:  $primary;

}

.bg-dark * {
    color: $primary-txt ;
    
  
}








